.revolutionary-editor {
  @media (min-width: 320px) {
    padding: 40px 0 20px;
  }
  @media (min-width: 993px) {
    padding: 50px 0;
  }
  & .section-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #635C73;
    @media (min-width: 320px) {
      font-size: 26px;
      padding: 20px 0;
    }
    @media (min-width: 481px) {
      font-size: 42px;
    }
    @media (min-width: 993px) {
      font-size: 54px;
    }
  }
}
.rev-subtitle {
  text-align: center;
  padding: 0 15px 20px;
  color: #323232;
  @media (min-width: 320px) {
    font-size: 14px;
    line-height: 1.4em;
  }
  @media (min-width: 481px) {
    font-size: 21px;
    line-height: 1.5em;
  }
  @media (min-width: 993px) {
    max-width: 680px;
    margin: 0 auto;
  }
}
.rev-buttons {
  @extend %cont-center;
  @extend %flex-wrap-center;
}
.git-button {
  @include font_m;
  display: inline-block;
  white-space: nowrap;
  border: 1px solid rgba(27,31,35,.2);
  padding: 0 1.5em;
  margin: 0.5em;
  font-weight: bold;
  font-size: .8em;
  line-height: 2em;
  text-decoration: none;
  color: #333;
  border-radius: .25em;
}
.git-button::before {
  background-color: #cccccc40;
  width: 1.5em;
  height: 1.9em;
  text-align: center;
  font-size: 1em;
  margin: 0 1em 0 -1.5em;
  padding: .4em .7em .4em 2.2em;;
  box-shadow: 1px 0 0 rgba(27,31,35,.2);
  border-radius: .15em 0 0 .15em;
  pointer-events: none;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
}
.git-watch::before {
  @include gitBtn(url('../img/icons/icon-git-watch.svg'), "Watch", 20% );
}
.git-star::before {
  @include gitBtn(url('../img/icons/icon-git-star.svg'), "Star", 25%);
}
.git-fork::before {
  @include gitBtn(url('../img/icons/icon-git-fork.svg'), "Fork", 20%);
}